// /*------------------------------------*\
//     #WIDTHS-RESPONSIVE
// \*------------------------------------*/

// /**
//  * Some simple, crude, starting-point widths to use alongside the layout system.
//  */

// @include break($small-break) {

//   .small-one-whole         { width: 100%; }

//   .small-one-half          { width: 50%; }

//   .small-one-third         { width: 33.333333333%; }
//   .small-two-thirds        { width: 66.666666666%; }

//   .small-one-quarter       { width: 25%; }
//   .small-three-quarters    { width: 75%; }

//   .small-one-fifth         { width: 20%; }
//   .small-two-fifths        { width: 40%; }
//   .small-three-fifths      { width: 60%; }
//   .small-four-fifths       { width: 80%; }

//   .small-one-tenth         { width: 10%; }
//   .small-three-tenths      { width: 30%; }
//   .small-seven-tenths      { width: 70%; }
//   .small-nine-tenths       { width: 90%; }

// }





// @include break($med-break) {

//   .med-one-whole          { width: 100%; }

//   .med-one-half           { width: 50%; }

//   .med-one-third          { width: 33.333333333%; }
//   .med-two-thirds         { width: 66.666666666%; }

//   .med-one-quarter        { width: 25%; }
//   .med-three-quarters     { width: 75%; }

//   .med-one-fifth          { width: 20%; }
//   .med-two-fifths         { width: 40%; }
//   .med-three-fifths       { width: 60%; }
//   .med-four-fifths        { width: 80%; }

//   .med-one-tenth          { width: 10%; }
//   .med-three-tenths       { width: 30%; }
//   .med-seven-tenths       { width: 70%; }
//   .med-nine-tenths        { width: 90%; }

// }





// @include break($large-break) {

//   .large-one-whole         { width: 100%; }

//   .large-one-half          { width: 50%; }

//   .large-one-third         { width: 33.333333333%; }
//   .large-two-thirds        { width: 66.666666666%; }

//   .large-one-quarter       { width: 25%; }
//   .large-three-quarters    { width: 75%; }

//   .large-one-fifth         { width: 20%; }
//   .large-two-fifths        { width: 40%; }
//   .large-three-fifths      { width: 60%; }
//   .large-four-fifths       { width: 80%; }

//   .large-one-tenth         { width: 10%; }
//   .large-three-tenths      { width: 30%; }
//   .large-seven-tenths      { width: 70%; }
//   .large-nine-tenths       { width: 90%; }

//   .large-push-one-tenth    { position: relative; left: 10%; }

// }





