{% set page = 'about' %}

{% extends "../partials/layout.twig" %}

{% block meta_description %}blah blah{% endblock %}

{% block content %}

<div class="wrapper switch-trans">

  <h1>About</h1>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, molestiae ea asperiores. Suscipit dolores eveniet nam alias obcaecati, consectetur, aliquid illum reiciendis inventore deleniti incidunt voluptatum officiis impedit, consequuntur ad?</p>

</div>

{% endblock %}
