<p class="h-small-down">This text is hidden below 480px</p>

<p class="h-small-up"><em>This text is only visible above 480px</em></p>

<p class="h-med-down">This text is hidden below 800px</p>

<p class="h-med-up"><em>This text is only visible above 800px</em></p>

<p class="h-large-down">This text is hidden below 1260px</p>

<p class="h-large-up"><em>This text is only visible above 1260px</em></p>

