{% set page = 'home' %}

{% extends "partials/layout.twig" %}

{% block meta_description %}blah blah{% endblock %}

{% block content %}

<div class="styleguide">
  <h1>CTC Style Guide</h1>

  {% include "patterns/00-atoms/01-global/00-colors.twig" %}

  <hr>

  {% include "patterns/00-atoms/01-global/01-fonts.twig" %}

  <hr>
  
  {% include "patterns/00-atoms/01-global/02-visibility.twig" %}

  <hr>

  {% include "patterns/00-atoms/02-text/00-headings.twig" %}

  <hr>

  {% include "patterns/00-atoms/02-text/01-paragraph.twig" %}

  <hr>

  {% include "patterns/00-atoms/02-text/02-blockquote.twig" %}

  <hr>

  {% include "patterns/00-atoms/02-text/03-inline-elements.twig" %}

  <hr>

  {% include "patterns/00-atoms/02-text/04-time.twig" %}

  <hr>

  {% include "patterns/00-atoms/02-text/05-preformatted-text.twig" %}

  <hr>

  {% include "patterns/00-atoms/03-lists/00-unordered.twig" %}

  <hr>

  {% include "patterns/00-atoms/03-lists/01-ordered.twig" %}

  <hr>

  {% include "patterns/00-atoms/03-lists/02-definition.twig" %}

  <hr>

  {% include "patterns/01-molecules/00-text/04-intro-text.twig" %}

  <hr>

  {% include "patterns/01-molecules/01-layout/02-three-up.twig" %}


  {# <h1>Heading 1</h1>
  <h1><a href="#" class="underline">Heading 1</a></h1>
  <h2>Heading 2</h2>
  <h2><a href="#" class="underline">Heading 2</a></h2>
  <h3>Heading 3</h3>
  <h3><a href="#" class="underline">Heading 3</a></h3> #}

  

</div>

{% endblock %}
