{% set page = 'home' %}

{% extends "partials/layout.twig" %}

{% set svg = "/partials/svg.twig" %}

{% block meta_description %}blah blah{% endblock %}

{% block content %}

<div class="styleguide wrapper switch-trans">
  <h1 class="sg-heading">Cotton Thompson Cole</h1>
  <h2 class="sg-subheading">Style Guide</h2>
  
  <h2 class="sg-title">Colors</h2>
  {% include "patterns/00-atoms/01-global/00-colors.twig" %}
  
  <h2 class="sg-title">Fonts</h2>
  {% include "patterns/00-atoms/01-global/01-fonts.twig" %}

  <h2 class="sg-title">Visibility</h2>
  {% include "patterns/00-atoms/01-global/02-visibility.twig" %}

  <h2 class="sg-title">Headings</h2>
  {% include "patterns/00-atoms/02-text/00-headings.twig" %}

  <h2 class="sg-title">Paragraph</h2>
  {% include "patterns/00-atoms/02-text/01-paragraph.twig" %}

  <h2 class="sg-title">Inline Elements</h2>
  {% include "patterns/00-atoms/02-text/03-inline-elements.twig" %}

  <h2 class="sg-title">Intro Text</h2>
  {% include "patterns/01-molecules/00-text/04-intro-text.twig" %}

  <h2 class="sg-title">Three Ups</h2>
  {% include "patterns/01-molecules/01-layout/02-three-up.twig" %}

  <h2 class="sg-title">Logo</h2>
  {% include "patterns/00-atoms/04-images/00-logo.twig" %}

</div>

{% endblock %}
