///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Colour variables
$palette: (
  "blue":            #0000cc,
  "white":           white,
  "grey":            #666666,
  "grey--light":     #999999,
  "grey--lightest":  #eeeeee,
  "black":           black
);

//Colour function
@function col($color) {
  @return map-get($palette, $color);
}





// Page
$base-background-color:   col("white");
$base-text-color:         col("black");
$base-brand-color:        col("blue");





// Links
$color-links:           col("black");
$color-links-hover:     col("blue");
$color-links-underline: col("black");





// Buttons
$color-btn:     $color-links;





// Page head
$color-masthead:                col("white");
$color-page-head-border:        col("blue");
$color-page-head:               col("white");
$color-page-head-background:    col("white");





// Site nav
$color-site-nav:    $base-text-color;





// Page foot
$color-page-foot:               col("white");





// Headings
$color-headings:    col("black");
$color-heading-sub: col("black");





// Quotes
$color-quote:           col("black");
$color-quote--banner:   col("black");





// Boxes
$color-box-highlight-background:    col("black");
$color-box-highlight-border:        col("black");
$color-box-tint-background:         col("black");





// Bands
$color-band-highlight-background:   col("black");
$color-band-tint-background:        col("black");
$color-band-dark:                   col("white");
$color-band-dark-background:        col("black");
