/*------------------------------------*\
   #SETTINGS-RESPONSIVE
\*------------------------------------*/

$xsmall-break:  em(320);
$small-break:   em(480);
$med-break:     em(800);
$large-break:   em(1260);
$xlarge-break:  em(1660);

$small-pad-break:   em(480);
$med-pad-break:     em(860);