/*------------------------------------*\
   #SETTINGS-RESPONSIVE
\*------------------------------------*/

$xsmall-break:  em(480);
$small-break:   em(480);
$med-break:     em(800);
$large-break:   em(1280);