/*------------------------------------*\
  #DEFAULTS
\*------------------------------------*/

$padding: rem(30);





// High-level base settings.
$base-font-size:          rem(16) !default;
$base-line-height:        rem(24) !default;
$base-text-color:         col("black") !default;
$base-background-color:   col("white") !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$base-spacing-unit:           $base-line-height;
$base-spacing-unit--tiny:     round($base-spacing-unit / 4);
$base-spacing-unit--small:    round($base-spacing-unit / 2);
$base-spacing-unit--large:    round($base-spacing-unit * 2);
$base-spacing-unit--huge:     round($base-spacing-unit * 4);
