// /*------------------------------------*\
//     #Style Guide Objects
// \*------------------------------------*/

.styleguide {
  margin-top: rem(80);
  margin-bottom: rem(100);
  .sg-subheading {
    margin-top: 0;
    font-size: 30px;
  }
  .sg-title {
    font-size: 18px;
    line-height: 26px;
    color: col("blue");
    border-bottom: 1px solid col("grey");
    margin-top: rem(100);
  }
}

.palette {
  margin: $base-spacing-unit 0 0;
  padding: 0;
  @extend .l-cf;
}

.palette__item {
  display: inline-block;
  margin: 0 2%;
  
}

.palette__circle {
  display: block;
  @include size( rem(150) );
  border-radius: 50%;
  &--border {
    border: rem(1) solid col("grey");
  }
}

.palette__title {
  display: block;
}
