// /*------------------------------------*\
//     #Style Guide Objects
// \*------------------------------------*/

.styleguide {
  hr {
    border: rem(1) solid col("black");
  }
}

.palette {
  margin: $padding 0 0;
  padding: 0;
  @extend .l__cf;
}

.palette__item {
  display: inline-block;
  margin: 0 2%;
  
}

.palette__circle {
  display: block;
  @include size( rem(150) );
  border-radius: 50%;
  &--border {
    border: rem(1) solid col("grey");
  }
}

.palette__title {
  display: block;
}
