// /*------------------------------------*\
//     #Style Guide Objects
// \*------------------------------------*/

.styleguide {
  * {
    text-align: center;
  }
}

.palette {
  margin: $padding 0 0;
  padding: 0;
  @extend .l__cf;
}

.palette__item {
  display: inline-block;
  @include size( rem(200) );
  border-radius: 50%;
  margin: 0 2%;
  &--border {
    border: rem(1) solid col("grey");
  }
}

.palette__circle {
  display: block;
  @include size( rem(200) );
  border-radius: 50%;
}

.palette__title {
  display: block;
}
