// /*------------------------------------*\
//     #HELPERS
// \*------------------------------------*/

@each $profile, $color in $palette {
  .l-#{$profile} { background-color: $color !important; }
  .l-#{$profile}--hover:hover { background-color: $color !important; }
  .t-#{$profile} { color: $color !important; }
  .t-#{$profile}--hover:hover { color: $color !important; }
  .f-#{$profile} svg { fill: $color !important; }
  .f-#{$profile}--hover:hover svg { fill: $color !important; }
}
