<ul class="palette">
  <li class="palette__item">
    <span class="palette__circle  l__blue"></span>
    <span class="palette__title  l__margin-top  t__align-center"><b>Blue</b></span>
  </li>
  <li class="palette__item  ">
    <span class="palette__circle  l__black"></span>
    <span class="palette__title  l__margin-top  t__align-center"><b>Black</b></span>
  </li>
  <li class="palette__item">
    <span class="palette__circle  palette__circle--border  l__white"></span>
    <span class="palette__title  l__margin-top  t__align-center"><b>White</b></span>
  </li>
</ul>