<h4>Primary font: "leitura-news", "Helvetica", "Arial", sans-serif;</h4>

<p>Secondary font: "FaktPro-Blond", "aktiv-grotesk-std", "Helvetica Neue", "Helvetica", "Arial", sans-serif;</p>
<p><strong>Secondary font bold: "FaktPro-Medium", "aktiv-grotesk-std", "Helvetica Neue", "Helvetica", "Arial", sans-serif;</strong></p>