<p class="h__small-down">This text is hidden below 480px</p>

<p class="h__small-up"><em>This text is only visible above 480px</em></p>

<p class="h__med-down">This text is hidden below 800px</p>

<p class="h__med-up"><em>This text is only visible above 800px</em></p>

<p class="h__large-down">This text is hidden below 1280px</p>

<p class="h__large-up"><em>This text is only visible above 1280px</em></p>

