/*------------------------------------*\
  #TYPE
\*------------------------------------*/

/**
 * Headings 1–6.
 */

h1, .t-alpha, 
h2, .t-beta,
h3, .t-gamma, 
h4, .t-delta, 
h5, .t-epsilon, 
h6, .t-zeta, 
.t-lede {
  font-family: $body-font-bold;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1,.t-alpha {
  font-size: rem(23);
  line-height: rem(30);
  letter-spacing: -0.01em;
  @include break($med-break) {
    font-size: rem(40);
    line-height: rem(46);
  }
}

h2,.t-beta,
h3, .t-gamma {
  font-size: rem(17);
  line-height: rem(25);
  letter-spacing: -0.01em;
  @include break($med-break) {
    font-size: rem(24);
    line-height: rem(28);
  }
}

h3, .t-gamma {
  font-family: $body-font;
}

.t-lede {
  font-family: $headings-font;
  font-size: rem(24);
  line-height: rem(30);
  letter-spacing: -0.005em;
  @include break($med-break) {
    font-size: rem(47);
    line-height: rem(60);
  }
  a {
    font-family: $body-font-bold;
    font-size: rem(25);
    letter-spacing: -0.01em;
    @include break($med-break) {
      font-size: rem(48);
    }
  }
}





/**
 * Paragraphs.
 */
p {
  font-size: rem(14);
  line-height: rem(20);
  @include break($med-break) {
    font-size: rem(17);
    line-height: rem(24);
  }
}





/**
 * Emboldened elements.
 */
strong, b, em, dt {
  font-family: $body-font-bold;
  font-weight: normal;
}





/**
 * Horizontal rules.
 */
hr {
  border: none;
  border-top: rem(1) solid col("black");
}










