/*------------------------------------*\
  #PAGE
\*------------------------------------*/

html {
  // font-size: ($base-font-size / rem(10)) * 1em;
  // line-height: $base-line-height / $base-font-size;
  background-color: $base-background-color;
  color: $base-text-color;
  overflow-y: scroll; 
  min-height: 100%; 
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; 
  -moz-osx-font-smoothing: grayscale; 
   -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  @include break($xlarge-break) {
    font-size: 125%;
  }
}

body {
  font-family: $body-font;
  font-weight: 400;
}
