/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  color: inherit;
  @include attention(all) {
    text-decoration: none;
  }
}

p a {
  color: $color-links;
  text-decoration: none;
  border-bottom: rem(1) solid col("black");
  // transition: .15s ease;
  @include attention(hover) {
    border-bottom: rem(3) solid col("blue");
    // color: $color-links-hover;
    // text-decoration: none;
  }
  .t-lede & {
    font-family: $body-font-bold;
    font-size: rem(44);
    letter-spacing: -0.01em;
  }
  //   text-decoration: none;
  //   border-bottom: rem(1) solid col("black");
  //   position: relative;
  //   top: -.1em;
  //   // transition: .15s ease;
  //   span {
  //     position: relative;
  //     top: .1em;
  //     // top: -0.1em;
  //   }
  //   &:hover {
  //     text-decoration: none;
  //     border-bottom: rem(4) solid col("blue");
  //   }
  // }
}

$underline-position : 88%;
$underline-thickness: 1px;

// .underline {
.t-lede a {
  font-family: $body-font-bold;
  border:none !important;
  /**
  * Layers multple text-shadows on top of 
  * each other steching outwards horizontally.
  **/
  text-shadow: // 
    0 em(-.5) $base-background-color,  //top
    0 em(.5) $base-background-color,   //bottom
    em(.5) 0 $base-background-color,   //right
    em(-.5) 0 $base-background-color,  //left
    em(1) 0 $base-background-color,    //right
    em(-1) 0 $base-background-color,  //left
    em(1.5) 0 $base-background-color,  //right
    em(-1.5) 0 $base-background-color, //left
    em(2) 0 $base-background-color,    //right
    em(-2) 0 $base-background-color;   //left
  background-color: transparent;
  background-image:
    linear-gradient($color-links-underline, $color-links-underline), //tiny additional underline left
    linear-gradient($color-links-underline, $color-links-underline), //tiny additional underline right
    linear-gradient($color-links-underline, $color-links-underline); //main underline
  /**
  * Use ems instead of pixel if you want 
  * the underline height to be responsive 
  * to font-size.
  **/
  background-size:
    em(.8) $underline-thickness, //tiny additional underline left
    em(.8) $underline-thickness, //tiny additional underline right
    $underline-thickness $underline-thickness; //main underline
  background-repeat: 
    no-repeat, //tiny additional underline left
    no-repeat, //tiny additional underline right
    repeat-x;  //main underline
  background-position: 
    0% $underline-position,   //tiny additional underline left
    100% $underline-position, //tiny additional underline right
    0% $underline-position;   //main underline
  .lt-ie9 & {
    background-image: none;
    text-decoration: underline;
  }
  &:hover {
    border:none !important;
    background-image:
      linear-gradient($color-links-hover, $color-links-hover), //tiny additional hover left
      linear-gradient($color-links-hover, $color-links-hover), //tiny additional hover right
      linear-gradient($color-links-hover, $color-links-hover); //main underline
    background-size:
      em(.8) 4px, //tiny additional underline left
      em(.8) 4px, //tiny additional underline right
      4px 4px;
    background-position: 
      0% 94%,   //tiny additional underline left
      100% 94%, //tiny additional underline right
      0% 94%;   //main underline
  }
}

.link-secret {
  color: inherit;
  @include attention() {
    color: $color-links;
    text-decoration: none;
  }
}

::selection { // on select remove text-shadow!
  text-shadow: none;
  background: col("blue");
  color: #fff; 
}
