/*------------------------------------*\
    #GRID
\*------------------------------------*/

//Combine the layout items with the widths found in `trumps.widths`.

$gutter: 10px;

.grid {
  list-style: none;
  margin: $gutter 0 0 -#{$gutter};
  padding: 0;
  text-align: left;
  font-size: 0; // inline-block mystery margin hack
  // &:first-child {
  //   margin-top:0;
  //   [class*="col--"]:first-of-type {
  //     margin-top:0;
  //   }
  // }

  @include break($small-break) {
    &:first-child {
      [class*="col--"] {
        margin-top:0;
      }
    }
    margin-top: 0;
    &.grid--noMargins {
      margin: $gutter 0 0 0;
    }
  }
}

[class*="col--"] {
  display: inline-block;
  margin-top: $gutter;
  padding-left: $gutter;
  vertical-align: top;
  width: 100%;
  font-size: medium; //IE
  font-size: initial;
  text-align: left;
  // min-height: $gutter;
  img {
    width: 100%;
  }
  .grid--noMargins > & {
    margin-top: 0;
  }
  @include break($small-break) {
    .grid--noMargins > & {
      margin-top: 0;
      padding-left: 0;
    }
  }
}

@for $i from 1 through 12 {
  .col--#{$i} {
    @include break($small-break) {
      width: #{((100%/12)*$i)};
    }
  }
}

@for $i from 1 through 12 {
  .col--fix#{$i} {
    @include break($small-break) {
      width: #{((rem(1210)/12)*$i)};
    }
  }
}

// .grid-columns {
//   @extend .l-cf;
//   width: 100%;
//   margin-top: $padding;
// }

.col--stack {
  width: 100%;
  @include break($small-break) {
    width: 50%
  }
  @include break($med-break) {
    width: 33.333333%
  }
  // @include break($large-break) {
  //   width: 25%
  // }
}

// Grid Modifiers

.grid--full {
  margin-left: 0;
  // margin-top: 0;

  > [class*="col--"] {
    // margin-top: 0;
    padding-left: 0;
  }

}

.grid--rev {
  direction:rtl;
  text-align: left;

  > [class*="col--"] {
    direction:ltr;
    text-align: left;
  }

}

.grid--middle {

  > [class*="col--"] {
    vertical-align: middle;
  }

}

.grid--bottom {

  > [class*="col--"] {
    vertical-align: bottom;
  }

}

.grid--right {
  text-align: right;

  > [class*="col--"] {
    text-align: left;
  }

}

.grid--center {
  text-align: center;

  > [class*="col--"] {
    text-align: left;
  }

}


