// /*------------------------------------*\
//     #TYPE
// \*------------------------------------*/

/*  #Headings
--------------------------------------*/

h1,.t__alpha, 
// h2, .t__beta,
h3, .t__gamma, 
h4, .t__delta, 
h5, .t__epsilon, 
h6, .t__zeta, 
.t__giga {
  font-family: $headings-font;
  font-weight: 400;
}

h1,.t__alpha {
  font-size: rem(40);
  letter-spacing: 0.01em;
  line-height: rem(55);

  @include break($med-break) {
    font-size: rem(60);
    line-height: rem(78);
  }
}

h2,.t__beta {
  font-size: rem(30);
  line-height: rem(42);
  letter-spacing: 0.02em;
  color: col("blue");
  @include break($med-break) {
    font-size: rem(40);
    line-height: rem(54);
  }
  @include break($large-break) {
    font-size: rem(48);
    line-height: rem(60);
  }
}

h3,.t__gamma {
  font-size: rem(26);
  line-height: rem(38);
  letter-spacing: 0.01em;

  @include break($large-break) {
    font-size: rem(30);
    line-height: rem(42);
  }
}

h4,.t__delta {
  
}

.t__giga {
  font-size: rem(60);
  line-height: rem(78);
}

strong, b, em, dt {
  font-family: $body-font-bold;
  font-weight: normal;
}

// /**
//  * Typographical base selectors.
//  */

// /**
//  * Headings 1–6.
//  */
// @include headings() {
//     @include font-weight(regular);
//     color: $color-headings;
// }





// /**
//  * A generic heading style which can be applied to any headings.
//  */
// .heading {
//     @include font-size(22px);
// }

// .heading-sub {
//     @include font-size(16px);
//     @include font-weight(bold);
//     margin-bottom: 0;
//     color: $color-heading-sub;
// }





// /**
//  * Emboldened elements.
//  */
// a,
// strong, b,
// dt {
//     @include font-weight(bold);
// }





// /**
//  * Code-like elements.
//  */
// code, kbd, samp {
//     color: $color-code;
//     font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
// }

// pre {
//     white-space: pre;
//     word-wrap: normal;
//     overflow: auto;
//     padding: $spacing-unit--small;
//     background-color: $color-pre-background;
//     border-radius: $base-round;

//     &,
//     code, kbd, samp {
//         color: $color-pre;
//     }

// }





// /**
//  * Figures.
//  *
//  * 1. Outdent figures by an arbitrary amount at the relevant viewport size.
//  * 2. Reindent figcaptions.
//  */
// figure {

//     @media screen and (min-width: 1380px) {
//         margin-left: -128px; /* [1] */
//     }

//     > img {
//         border-radius: $base-round;
//     }

// }

//     figcaption {
//         @include font-size(12px);

//         @media screen and (min-width: 1380px) {
//             margin-left: 128px; /* [2] */
//         }

//     }





// /**
//  * Horizontal rules.
//  */
// hr {
//     border: none;
//     border-bottom: 1px solid $color-gray-ui;
//     margin-bottom: $spacing-unit - 1px;
// }





// /**
//  * Highlighted text.
//  */
// mark {

//     pre & {
//         background: none;
//         border-bottom: 1px solid;
//         color: inherit;
//     }

// }





// /**
//  * Text-alignment.
//  */
// .text-banner {
//     text-align: center;
// }
