{% set page = 'press' %}

{% extends "../partials/layout.twig" %}

{% block title %}Press -{% endblock %}

{% block meta_description %}A restaurant in Exmouth Market serving Proven&ccedil;al inspired small plates.{% endblock %}

{% block content %}

  <section class="standard-page">

    <div class="l__max-width--small l__padding l__margin--site t__align--center">

      <div class="curved-wrapper"><h2 class="t__curved--big">Press</h2></div>

      <p class="l__margin-top--large">For press enquiries please contact <a class="link--normal" href="mailto:press@cafepistou.co.uk">press@cafepistou.co.uk</a></p>

    </div>

  </section>

{% endblock %}
