/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.wrapper {
  max-width: $large-break;
  margin: 0 auto;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;

  @include break($med-break) {
    padding-right: $base-spacing-unit--large;
    padding-left:  $base-spacing-unit--large;
  }

  // @include break($xlarge-break) {
  //   max-width: em(1680);
  // }

}

