/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.btn,
%btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin:  0; /* [4] */
  cursor: pointer; /* [5] */
  overflow: visible; /* [6] */
  // padding: em(11) em(50); /* [7] */
  padding: em(11) em(50) em(10.8) em(50); /* [7] */
  max-width: rem(380);
  background-color: col("black");
  border: none; /* [4] */
  border-radius: 0;
  font-size: rem(44);
  line-height: rem(56);

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: col("white");
  }

}

/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.btn::-moz-focus-inner,
%btn::-moz-focus-inner {
  border:  0;
  padding: 0;
}

.perspective {
  display: inline-block;
  position: relative;
  // margin: 0;
  // padding: 1em;
  z-index: 1;
  perspective: 800px;
}

.btn--3d {
  position: relative;
  outline: rem(1) solid transparent;
  transition: $base-transition;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform-style: preserve-3d;
  &::before {
    content: 'Do it!';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    // speak: none;
    z-index: -1;
    
    background: col("blue");
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
  }
  &:hover {
    transform-origin: 50% 0%;
    transform: rotateX(90deg) translateY(-100%);
  }
}

