// /*------------------------------------*\
//     #WRAPPERS
// \*------------------------------------*/

.wrapper {
  max-width: em(1280);
  margin: 0 auto;
  padding-right: rem(20);
  padding-left:  rem(20);

  @include break($med-break) {
    padding-right: rem(40);
    padding-left:  rem(40);
  }

}
