/*------------------------------------*\
  #PAGE LOADER
\*------------------------------------*/

.switch-trans {
  transition: $base-transition;
  transition-property: opacity, transform;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) { 
     transition-delay: 065ms * $i; 
    }
  }

  &.switch-trans-in {
    opacity: 0;
    // transform: translate3d(5%, 0, 0);
    transform: translate3d(0, rem(40), 0);

    &.switch-trans-out {
      opacity: 1;
      transform: translate3d(0, 0, 0);    
    } 
  }
}

