<ul class="palette">
  <li class="palette__item">
    <span class="palette__circle  l-blue"></span>
    <span class="palette__title  l-margin-top  t-align-center"><b>Blue</b></span>
  </li>
  <li class="palette__item  ">
    <span class="palette__circle  l-black"></span>
    <span class="palette__title  l-margin-top  t-align-center"><b>Black</b></span>
  </li>
  <li class="palette__item">
    <span class="palette__circle  palette__circle--border  l-white"></span>
    <span class="palette__title  l-margin-top  t-align-center"><b>White</b></span>
  </li>
</ul>