{% set page = 'home' %}

{% extends "partials/layout.twig" %}

{% set svg = "/partials/svg.twig" %}

{% block meta_description %}blah blah{% endblock %}

{% block content %}

<div class="styleguide  wrapper">
  <div class="switch-trans">
    <h1 class="sg-heading">Cotton Thompson Cole</h1>
    <h2 class="sg-subheading">Style Guide</h2>
  </div>

  <div class="switch-trans">
    <h2 class="sg-title">Colors</h2>
    {% include "patterns/00-atoms/01-global/00-colors.twig" %}
  </div>
  
  <div class="switch-trans">
    <h2 class="sg-title">Fonts</h2>
    {% include "patterns/00-atoms/01-global/01-fonts.twig" %}
  </div>

  <div class="switch-trans">  
    <h2 class="sg-title">Visibility</h2>
    {% include "patterns/00-atoms/01-global/02-visibility.twig" %}
  </div>

  <div class="switch-trans">
    <h2 class="sg-title">Headings</h2>
    {% include "patterns/00-atoms/02-text/00-headings.twig" %}
  </div>

  <h2 class="sg-title">Paragraph</h2>
  {% include "patterns/00-atoms/02-text/01-paragraph.twig" %}

  <h2 class="sg-title">Inline Elements</h2>
  {% include "patterns/00-atoms/02-text/03-inline-elements.twig" %}

  <h2 class="sg-title">Intro Text</h2>
  {% include "patterns/01-molecules/00-text/04-intro-text.twig" %}

  <h2 class="sg-title">Grid Patterns</h2>
  {% include "patterns/01-molecules/01-layout/02-three-up.twig" %}

  <h2 class="sg-title">Logo</h2>
  {% include "patterns/00-atoms/04-images/00-logo.twig" %}
  
  <h1 class="sg-heading">Forms</h1>
  <h2 class="sg-title">Text fields</h2>
  {% include "patterns/00-atoms/05-forms/00-text-fields.twig" %}

  <h2 class="sg-title">Checkbox</h2>
  {% include "patterns/00-atoms/05-forms/02-checkbox.twig" %}

  <h2 class="sg-title">Radio Buttons</h2>
  {% include "patterns/00-atoms/05-forms/03-radio-buttons.twig" %}

</div>

{% endblock %}










