/*------------------------------------*\
  #HEADER
\*------------------------------------*/

// Define our variables
$right-width:   100%;
$overlap-ratio: 2;
$header-height: rem(80);

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: $header-height;
  background: col("white");
  padding: rem(18) rem(20) rem(20);
  border-bottom: rem(2) solid col("black");

  @include break($med-break) {
    height: $header-height*2;
    padding: rem(40);
  }

}

.logo {
  display: inline-block;
}





/*  #Hambuger Button
--------------------------------------*/

.ocn-menu-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: rem(45) rem(20) rem(14) rem(20);
  z-index: 20;
  @include break($med-break) {
    display: none;
  }
}

.burger-icon {
  @include burger(rem(20), rem(3), rem(5), col("black"));
}

.ocn-menu-button.is-active .burger-icon {
  @include burger-to-cross;
}





/*  #Off Canvas Navigation
--------------------------------------*/

.ocn {
  display:none;
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: auto;
  right:0;
  overflow: auto;
  z-index: 10;
  background: col('white');
  width:$right-width;
  transform: translate3d(100%,0,0);

  @include break($med-break) {
    background: none;
  }

  ul {
    margin:0;
    list-style:none;
    font-size: 0;
  }

  li {
    font-family: $body-font-bold;
    font-weight: normal;
    font-size: rem(24);
    line-height: rem(28);
    letter-spacing: -0.01em;

    @include break($med-break) {
      font-size: rem(17);
      line-height: rem(25);
    }

  }
  
  &.is--visible {
    display: block;
  }
}

.ocn__list { //ul
  padding: 0 $base-spacing-unit;
  // transition: $base-transition;
  // transform: translate3d(0,0,0);
  
  // @include break($med-break) {
  //   text-align: center;
  //   margin: 0 auto;
  // }
}

.ocn__list__item { //li
  transition: $base-transition;
  border-bottom: rem(2) solid col("grey--light");
  @include break($med-break) {
    display: inline-block;
    border-bottom: rem(1) solid col("black");
    &.is--active {
      border-bottom: rem(4) solid col("blue");
    }
  }
}

.ocn__list a {
  display: block;
  width: 100%;
  padding: rem(22) 0 rem(18) 0;
  // @include break($med-break) {
  //   border: 0;
  //   padding: 0;
  //   min-height: 0;
  // }
}

.site__inner {
  transform: translate3d(0,0,0);
}

.site__inner,
.ocn {
  transition: $base-transition-speed*2 $base-transition-ease;
}

  
@include break-max($med-break) {

  .ocn-show-right {

    .site__inner {
      transform: translate3d(-#{$right-width / $overlap-ratio},0,0);
    }

    .ocn {
      transform: translate3d(0,0,0);
    }

    // .ocn__list {
    //   transform: translate3d(0,0,0);
    // }

  }

}

.ocn__sub {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right:0;
  overflow: auto;
  z-index: 10;
  background: col('white');
  width:$right-width;
  transform: translate3d(100%,0,0);
  transition: $base-transition-speed*2 $base-transition-ease;
  &.is-open {
    transform: translate3d(0,0,0);
  }
}
