/*------------------------------------*\
  #HEADER
\*------------------------------------*/


// Define our variables

$right-width:   100% !default;
$overlap-ratio: 2 !default;
$speed: .2s;

// Menu Button

.ocn-switch {
  display: none; //turned block with js kicks in to stop menu flash on load
  // display: block;
  position: fixed;
  top: 0;
  right: 0;
  @include size(rem(80));
  background: $base-brand-color;
  z-index: 100;
  // transform: translate3d(-100%,0,0);
  transition: .2s ease;
  // will-change: transform;
  .ocn-show-right & {
    background: $base-text-color;
    // transform: translate3d(-$right-width,0,0);
  }
}


//Nav List

.ocn {
  background: $base-brand-color;
  @include break($med-break) {
    background: none;
  }
  ul {
    margin:0;
    padding:0;
    list-style:none;
    font-size: 0;
  }
  li {
    font-size: medium;
    font-size: initial;
  }
}

.ocn__list { //ul
  // @include break($med-break) {
  //   text-align: center;
  //   margin: 0 auto;
  // }
}

.ocn__list__item { //li
  transition: $base-transition;
  @include break($med-break) {
    display: inline-block;
    padding: 0 $base-spacing-unit;
    border-bottom: rem(1) solid col("black");
    &.is--active {
      border-bottom: rem(4) solid col("blue");
    }
  }
}

.ocn__list a {
  display: block;
  width: 100%;
  padding: $base-spacing-unit;
  // @include break($med-break) {
  //   border: 0;
  //   padding: 0;
  //   min-height: 0;
  // }
}

// .ocn__sub {
//   z-index: -1;
//   height: 0;
//   transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
//   position: relative;
//   background: col("green--darker");
//   overflow: hidden;
//   @include break($med-break) {
//     display: none;
//     width: 0;
//     height: 0;
//   }
// }

// .ocn__sub--toggle {
//   width: 100%;
//   height: rem(70);
//   position: absolute;
//   top:0;
//   opacity: 1;
//   cursor: pointer;
//   &:after {
//     content: "";
//     position: absolute;
//     top: rem(30);
//     left: rem(120);
//     @include size(rem(10), rem(8));
//     background: blue;
//     transform: translateZ(0);
//     transform: rotate(0deg);
//     transition: all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
//   }
//   &.is--rotated:after {
//     transform: rotate(180deg);
//   }
// }

// .ocn__sub li {
//   white-space: nowrap;
//   opacity: 0;
//   transform: translateZ(0);
//   transform: translateX(rem(-20));
//   // visibility: hidden;
// }

// .ocn__sub.is--visible {
//   z-index: 0;
//   height: rem(70)*8;
//   overflow: visible;
//   li {
//     opacity: 1; 
//     transform: translateX(0);
//     // visibility: visible;
//     transition: all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
//   }
//   &:after {
//     transform: rotate(180deg);
//   }
// }

// .ocn__sub a {
//   font-size: rem(10);
//   line-height: rem(16);
//   letter-spacing: .2em;
//   padding-left: rem(60);
// }

@include break-max($med-break) {

  .ocn-switch {
    display: block;
  }

  .ocn {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    overflow: auto;
    // overflow-x:hidden;
    // overflow-y: auto;
  }

  .site__inner,
  .ocn {
    transition: $base-transition;
  }

  .ocn {
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    z-index: 1;
  }
    
  @if $right-width != 0px {
    .site__inner{
      opacity: 1;
    }
    .ocn {
      right:0;
      width:$right-width;
      transform: translate3d(100%,0,0);
    }
    .ocn__list {
      transition: $base-transition;
      transform: translate3d(0,0,0);
    }
  }

  @if $right-width != 0px {
    .ocn-show-right {

      .site__inner {
        transform: translate3d(-#{$right-width / $overlap-ratio},0,0);
      }

      .ocn {
        transform: translate3d(0,0,0);
      }

      .ocn__list {
        transform: translate3d(0,0,0);
      }
    }
  }

  // State for showing Nav after page has loaded
  .is--visible {
    display: block;
  }

}

// Page loading

.switch-trans {
  transition: $base-transition; //cheeky

  &.switch-trans-in {
    opacity: 0;
    // transform: translate3d(5%, 0, 0);
    transform: translate3d(0, rem(40), 0);

    &.switch-trans-out {
      opacity: 1;
      transform: translate3d(0, 0, 0);    
    } 
  }
}

