<div class="grid t__white">
  <div class="col--4">
    <div class="l__padding l__blue">1/3</div>
  </div>
  <div class="col--4">
    <div class="l__padding l__blue">1/3</div>
  </div>
  <div class="col--4">
    <div class="l__padding l__blue">1/3</div>
  </div>
</div>