{# <div class="grid t__white">
  <div class="col--4">
    <div class="l__padding l__blue">1/3</div>
  </div>
  <div class="col--4">
    <div class="l__padding l__blue">1/3</div>
  </div>
  <div class="col--4">
    <div class="l__padding l__blue">1/3</div>
  </div>
</div> #}

<div class="grid t__white">
  <div class="col--stack">
    <div class="l__padding l__blue">
      <span class="h__small-up">1</span>
      <span class="h__small-down h__med-up">1/2</span>
      <span class="h__med-down">1/3</span>
    </div>
  </div>
  <div class="col--stack">
    <div class="l__padding l__blue">
      <span class="h__small-up">1</span>
      <span class="h__small-down h__med-up">1/2</span>
      <span class="h__med-down">1/3</span>
    </div>
  </div>
  <div class="col--stack">
    <div class="l__padding l__blue">
      <span class="h__small-up">1</span>
      <span class="h__small-down h__med-up">1/2</span>
      <span class="h__med-down">1/3</span>
    </div>
  </div>
  <div class="col--stack">
    <div class="l__padding l__blue">
      <span class="h__small-up">1</span>
      <span class="h__small-down h__med-up">1/2</span>
      <span class="h__med-down">1/3</span>
    </div>
  </div>
  <div class="col--stack">
    <div class="l__padding l__blue">
      <span class="h__small-up">1</span>
      <span class="h__small-down h__med-up">1/2</span>
      <span class="h__med-down">1/3</span>
    </div>
  </div>
  <div class="col--stack">
    <div class="l__padding l__blue">
      <span class="h__small-up">1</span>
      <span class="h__small-down h__med-up">1/2</span>
      <span class="h__med-down">1/3</span>
    </div>
  </div>
</div>