/*!
 * willplate, by Will Russell
 *
 */
///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

//Unit function
@function rem($size) { 
  $remSize: $size / 16;
  @return $remSize * 1rem;
}

@function em($size) { 
  $emSize: $size / 16;
  @return $emSize * 1em;
}

$padding: rem(30);

/*  #Responsive breakpoints
--------------------------------------*/

// Min-width use
$small-break:  em(480);
$mid-break:    em(600);
$med-break:    em(800);
$nav-break:    em(900);
$large-break:  em(1190);
$larger-break: em(1250); //max width + padding for burger menu anchoring
$max-break:    em(1800);

// Max-width use
$small-break-max: em(479);
$med-break-max:   em(799);
$nav-break-max:   em(899);
$large-break-max: em(1189);



// High-level base settings.
$inuit-base-font-size:          rem(16) !default;
$inuit-base-line-height:        rem(24) !default;
$inuit-base-text-color:         #333 !default;
$inuit-base-background-color:   #fff !default;






// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$inuit-base-spacing-unit:           $inuit-base-line-height;
$inuit-base-spacing-unit--tiny:     round($inuit-base-spacing-unit / 4);
$inuit-base-spacing-unit--small:    round($inuit-base-spacing-unit / 2);
$inuit-base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);
$inuit-base-spacing-unit--huge:     round($inuit-base-spacing-unit * 4);
